<% provide(:title, 'All users') %>
<h1>All users</h1>
<span class="first">
    <%= will_paginate @users %>
</span>


<ul class="users">
    <%= render @users %>
</ul>

<span class="second">
    <%= will_paginate @users %>
</span>